@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Estilos padrão para monitores e maiores */
body {
  font-size: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para tablets */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Estilos para celulares */
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

/* Estilos para telas maiores que 1200px */
@media only screen and (min-width: 1201px) {
  body {
    font-size: 18px;
  }
}

* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#navbar {
  padding: 1em 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6B7D5C;
  color: #F6EFDC;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#logo-agenda {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: #F6EFDC;
}


.container {
  max-width: 450px;
  margin: 2em auto;
  background-color: #faffed;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-size: 25px 
}

.container form {
  margin-top: 1.5em;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.form-control input,
.form-control textarea {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

form input[type='submit'] {
  background-color: #6B7D5C;
  color: #fff;
  padding: 0.7em 1.5em;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.agenda-list {
  list-style: none;
  margin-top: 1em;
}

.agenda-list li {
  padding: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
}

.agenda-list .title {
  font-weight: bold;
  color: #6B7D5C;
  transition: 0.5s;
  font-size: 1.2em;
}

.agenda-list .title:hover {
  color: #333;
}

.actions {
  display: flex;
}

.actions i {
  font-size: 1.5em;
  margin-right: 0.6em;
  color: #333;
}

.actions i:hover {
  color: #6B7D5C;
}

.actions form {
  margin: 0;
}

.actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.titulo.done {
  text-decoration: line-through;
  color: #ff6a6a;
}
